<!-- <div class="container">
    <div class="box">
        <div class="profile-box">
            <img src="{{ mentorDetail.profileImageUrl }}" class="profile-image" />
            <p class="header margin-text">About</p>
            <p class="text margin-text">{{ mentorDetail.biography }}</p>
        </div>
        <div class="profile-detail-box">
            <p class="margin-text" style="font-size: 40px; font-weight: 600">
                {{ mentorDetail.fullNameEN }} ({{ mentorDetail.nickname }})
            </p>
            <p class="margin-text" style="font-size: 26px; font-weight: 500; color: #708090">
                {{ mentorDetail.fullNameTH }}
            </p>
            <br />
            <p style="font-size: 20px; font-weight: 500" class="margin-text">
                {{ mentorDetail.position }} @ {{ mentorDetail.team }}
            </p>
            <p style="font-size: 16px; font-weight: 500; color: #85888c" class="margin-text">
                {{ mentorDetail.type }}
            </p>
            <br />
            <p style="font-size: 24px; font-weight: 00" class="margin-text">Expertise</p>
            <div>
                <p-chip
                    class="margin"
                    styleClass="chip"
                    *ngFor="let expertise of mentorDetail.expertise"
                    label="{{ expertise.skill }} | {{ expertise.endorsed }}"
                ></p-chip>
            </div>

            <div class="margin">
                <span class="margin">Available Time</span>
                <span style="font-weight: 300; color: red">09.30 - 11.30, Mon - Fri</span>
            </div>
            <br />

            <p-button
                type="button"
                icon="pi pi-calendar"
                styleClass="button-personal"
                label="Book A Session"
                (onClick)="onBooking()"
            ></p-button>
        </div>
    </div>
</div> -->

<div class="container py-5">
    <div class="card py-4">
        <h2 class="text-center">Personal Detail</h2>
        <div class="card-body">
            <div class="row">
                <div class="card-body-start col-md-12 col-lg-6">
                    <div class="mentor-img mb-3">
                        <img class="profile-image" src="{{ mentorDetail.profileImageUrl }}" />
                    </div>
                    <div class="mentor-bio">
                        <label class="control-label">About Me</label>
                        <p class="mentor-desc">{{ mentorDetail.biography }}</p>
                    </div>
                </div>
                <div class="card-body-end col-md-12 col-lg-6">
                    <div class="mentor-name mb-4">
                        <p class="name-en">
                            {{ mentorDetail.fullNameEN }} ({{ mentorDetail.nickname }})
                        </p>
                        <p class="name-th">{{ mentorDetail.fullNameTH }}</p>
                    </div>
                    <div class="mentor-endorsement mb-4"></div>
                    <div class="mentor-position mb-4">
                        <p class="job-position">
                            {{ mentorDetail.position }} @ {{ mentorDetail.team }}
                        </p>
                        <p class="mentor-type">{{ mentorDetail.type }}</p>
                    </div>
                    <div class="mentor-availabel-time mb-4">
                        <label class="control-label">Available Time</label>
                        <p class="text-success">10.00 - 11.00, Monday - Friday</p>
                    </div>
                    <div class="mentor-expertise mb-4">
                        <label class="control-label">Expertise</label>
                        <div class="mentor-tag">
                            <span class="badge bg-expertise" *ngFor="let expertise of mentorDetail.expertise">
                                {{ expertise.skill }} | {{ expertise.endorsed }}
                            </span>
                        </div>
                    </div>
                    <div class="button-reserve">
                        <button type="button" (click)="onBooking()" class="btn btn-primary-gradient text-white">Reserve Now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
