.row > * {
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    margin-top: var(--bs-gutter-y);
}

.control-label {
    font-size: 20px;
    font-weight: 400;
}

.profile-image {
    object-fit: cover;
    object-position: top;
    width: 350px;
    height: 350px;
    border-radius: 12px;
}

/* .card {
    border: unset;
    border-radius: 12px;
    box-shadow:  0 0.25rem 0.75rem rgb(0 0 0 / 15%) !important;
    -moz-box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 15%) !important;
    -webkit-box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 15%) !important;
    -o-box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 15%) !important;
} */

.card h2 {
    margin-bottom: 24px;
    font-weight: 400;
}

.card-body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.card-body-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body-start .mentor-img {
    text-align: left;
}

.card-body-start .mentor-bio {
    width: 350px;
}

.card-body-start .mentor-bio .mentor-desc {
    text-indent: 28px;
    color: #39485b;
}

.card-body-end .mentor-name p,
.card-body-end .mentor-endorsement p,
.card-body-end .mentor-position p,
.card-body-end .mentor-availabel-time p,
.card-body-end .mentor-expertise p {
    margin-bottom: 0;
}

.card-body-end .mentor-name .name-en {
    font-size: 26px;
    font-weight: 400;
}

.card-body-end .mentor-name .name-th {
    font-size: 20px;
    font-weight: 300;
    color: #39485b;
}

.card-body-end .mentor-position .job-position {
    font-size: 20px;
    color: #000000;
}

.card-body-end .mentor-position .mentor-type {
    font-size: 16px;
    color: #39485b;
}

.card-body-end .button-reserve button {
    font-size: 20px;
    font-weight: 400;
}
.btn-primary-gradient {
    background: linear-gradient(89deg, #0e98d5 0%, #0158a8 100%);
    border: unset;
}

.mentor-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 8px;
}

.mentor-expertise .control-label {
    margin-bottom: 6px;
}

.mentor-expertise .badge {
    font-weight: 400;
    color: #1498d5;
    border: 1px solid #1498d5;
}

.mentor-expertise .bg-expertise {
    background-color: transparent !important;
}

.mentor-endorsement .badge {
    font-size: 1rem;
    font-weight: 300;
    border-radius: 6px;
    border: 1px solid #39485b;
    padding: 4px 10px;
}

.mentor-endorsement .badge i {
    color: #f93939;
}
