.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 36px 108px 36px 108px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.profile-box {
    width: 350px;
}

.profile-image {
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 12px;
}

.header {
    font-size: 24pt;
    font-weight: 600;
}

.text {
    font-size: 16pt;
    font-weight: 300;
    color: #39485b;
}
.margin {
    margin-right: 8px;
    margin-top: 20px;
}
.margin-text {
    margin-top: 0px;
    margin-bottom: 0px;
}
::ng-deep.chip {
    border: 1px solid #39485b;
    background-color: white;
    color: #1498d5;
    font-weight: 500;
}
::ng-deep.button-personal {
    background-color: #1498d5;
    color: white;
    border-color: transparent;
    border-radius: 12px;
}
.proflie-detail-box {
}

.tbg1 {
    background-color: rgba(0, 0, 255, 0.372);
}

.tbg2 {
    background-color: rgba(255, 0, 157, 0.296);
}

.tbg3 {
    background-color: rgba(0, 255, 38, 0.369);
}

.tbg4 {
    background-color: rgba(255, 166, 0, 0.369);
}
.ui-button.orange-button {
    background-color: orange;
}
