<div class="container">
    <div class="box">
        <div class="profile-box">
            <img src="https://images.unsplash.com/photo-1656954261081-93c805b386b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                class="profile-image" />
            <p class="header margin-bottom">
                About
            </p>
            <p class="text margin-bottom" >
                Hello, I'm Nuntapong Siripanyawong. I'm a software developer. I'm currently working at Odd-e (Thailand)
                in Mola Mola team.
            </p>
        </div>
        <div>
            <p class="margin-bottom" style="font-size: 40px; font-weight:600;">
                Nuntapong Siripanyawong (Pat)
            </p>
            <p class="margin-bottom" style="font-size: 26px; font-weight:500; color: #708090;">
                นันทพงศ์ ศิริปัญญาวงศ์
            </p>
            <p style="font-size: 20px; font-weight:500;">
                Software Developer @ Mola Mola Team
            </p>
            <p style="font-size: 16px; font-weight:500; color: #85888C;">
                Cooperative Education 2022
            </p>
            <p style="font-size: 24px; font-weight:00;">
                Expertise
            </p>
            <div>
                <p-chip class="margin" label="TypeScript | 99"></p-chip>
                <p-chip class="margin" label="JavaScript | 112"></p-chip>
                <p-chip class="margin" label="PHP | 47"></p-chip>
                <p-chip class="margin" label="SQL | 69"></p-chip>
                <p-chip class="margin" label="React | 12"></p-chip>
                <p-chip class="margin" label="Next | 3"></p-chip>
            </div>

            <div  class="margin">
                <span class="margin"> Available Time</span> <span>09.30 - 11.30, Mon - Fri</span>
            </div>
            
            <button pButton type="button"  class="margin" icon="pi pi-calendar" label="Book A Session"></button>
            
        </div>
    </div>
</div>