.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-container {
    width: min(100%, 992px);
}

.row {
    margin-left: unset;
    margin-right: unset;
}

@media only screen and (min-width: 992px) {
    .row > * {
        padding-right: calc(var(--bs-gutter-x) * 1.25);
        padding-left: calc(var(--bs-gutter-x) * 1.25);
    }
}

.card-title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
}

.profile-image {
    object-fit: cover;
    object-position: top;
    /* width: 350px;
    height: 350px; */
    width: min(100%, 350px);
    height: min(350px);
    border-radius: 12px;
}

.personal-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mentor-img {
    text-align: center;
    margin-bottom: 18px;
}

@media only screen and (min-width: 992px) {
    .mentor-img,
    .bio-label {
        display: flex;
        flex-direction: column;
        width: min(100%, 350px);
    }
}

.bio-label .mentor-desc {
    color: #39485b;
}

.personal-content p {
    margin-bottom: 0;
}

.name-label .name-en {
    font-size: 26px;
    font-weight: 400;
    color: #323334;
}

.name-label .name-th {
    font-size: 20px;
    font-weight: 300;
    color: #39485b;
}

.endorsement-label .badge {
    font-size: 1rem;
    font-weight: 300;
    border-radius: 6px;
    border: 1px solid #39485b;
    padding: 4px 10px;
}

.endorsement-label .badge i {
    color: #f93939;
}

.position-label .job-position {
    font-size: 20px;
    color: #000000;
}

.position-label .mentor-type {
    font-size: 16px;
    color: #39485b;
}

.expertise-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 8px;
}

.expertise-label .control-label {
    margin-bottom: 8px;
}

.expertise-label .badge {
    font-size: 14px;
    font-weight: 400;
    color: #1498d5;
    border: 1px solid #1498d5;
}

.expertise-label .bg-expertise {
    background-color: transparent !important;
}

.button-reserve button {
    font-size: 20px;
    font-weight: 300;
    border-radius: 8px;
}

.btn-primary-gradient {
    background: linear-gradient(89deg, #0e98d5 0%, #0158a8 100%);
    border: unset;
}
