<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="container">
    <div class="container-card">
        <h3 style="text-align: center">Confirmation</h3>

        <p class="header">User Information</p>

        <div>
            <p class="title">Name</p>
            <p class="sub-title">
                {{ bookingDetail.userFullName }}
            </p>
        </div>

        <div>
            <p class="title">Email</p>
            <p class="sub-title">{{ bookingDetail.userEmail }}</p>
        </div>

        <p class="header">Booking Information</p>

        <div style="display: flex; flex-direction: row; align-items: center">
            <img
                src="{{ mentorSelected.profileImageUrl }}"
                alt="mentor image"
                class="mentor-avatar"
            />
            <div>
                <p class="title">Mentor name</p>
                <p class="sub-title">
                    {{ bookingDetail.mentorFullName }}
                </p>
            </div>
        </div>

        <div>
            <p class="title">Expertise</p>
            <p class="sub-title">{{ expertise }}</p>
        </div>

        <div>
            <p class="title">Reason</p>
            <p class="sub-title">{{ bookingDetail.reason }}</p>
        </div>

        <div>
            <p class="title">Date and Time</p>
            <p class="sub-title">
                {{ dateTime }}
            </p>
        </div>

        <div>
            <p class="title">Duration</p>
            <p class="sub-title">{{ bookingDetail.sessionDuration }} mins</p>
        </div>

        <div class="flex-row">
            <p-button
                label="RETURN"
                icon="pi pi-angle-left"
                iconPos="left"
                styleClass="button-return"
                (onClick)="onReturn()"
            ></p-button>
            <p-button
                (onClick)="on_submit()"
                label="SUBMIT"
                icon="pi pi-check"
                iconPos="right"
                styleClass="button-submit"
            ></p-button>
        </div>
    </div>
</div>
