<div class="container">
    <div class="container-card">
        <h3 style="text-align: center;">Confirmation</h3>

        <p class="header">User Information</p>

        <div>
            <p class="title">Name</p>
            <p class="sub-title">Kelvin Mola</p>
        </div>

        <div>
            <p class="title">Email</p>
            <p class="sub-title">kelvin@odds</p>
        </div>

        <p class="header">Booking Information</p>

        <div>
            <p class="title">Mentor name</p>
            <p class="sub-title">Nuntapong Siripantawong</p>
        </div>

        <div>
            <p class="title">Expertise</p>
            <p class="sub-title">Angular, Java and Spring Boot</p>
        </div>

        <div>
            <p class="title">Reason</p>
            <p class="sub-title">Development ODDS Menter</p>
        </div>

        <div>
            <p class="title">Date and Time</p>
            <p class="sub-title">1 January 2023 00:00</p>
        </div>

        <div>
            <p class="title">Duration</p>
            <p class="sub-title">60 mins</p>
        </div>

        <div class="flex-row">
            <p-button label="RETURN" icon="pi pi-angle-left" iconPos="left" styleClass="button-return"></p-button>
            <p-button (onClick)="on_submit()" label="SUBMIT" icon="pi pi-check" iconPos="right" styleClass="button-submit"></p-button>
        </div>
    </div>
</div>