.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-container {
    width: min(100%, 576px);
}

.card-body {
    padding: 2rem !important;
}

.card-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.card-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: var(--sub-title-color);
}

.control-label {
    font-size: 18px;
    font-weight: 300;
    color: var(--label-color);
}

.control-text {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
}

.user-info .d-flex,
.reserve-info .d-flex {
    gap: 6rem;
}

@media only screen and (max-width: 576px) {
    .d-flex {
        flex-direction: column;
    }

    .user-info .d-flex,
    .reserve-info .d-flex {
    gap: 0;
    }
}
