.container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container-card {
    margin: 50px 0;
    width: min(660px, 90%);
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.75);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    border-radius: 12px;
    padding: 24px 64px;
    background-color: var(--white-color);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

p {
    margin: 0px;
    color: black;
}

.header {
    color: #85888c;
    font-size: 20px;
    font-weight: 500;
}

.title {
    font-size: 16px;
    font-weight: 400;
}

.sub-title {
    font-size: 16px;
    font-weight: 600;
}

:host::ng-deep .button-return {
    background-color: #ffc107;
    color: white;
    border: transparent;
}

:host::ng-deep .button-submit {
    background-color: #28a745;
    color: white;
    border: transparent;
}

:host::ng-deep .button-return:hover {
    background-color: #e0a800 !important;
}

:host::ng-deep .button-submit:hover {
    background-color: #218838 !important;
}

.mentor-avatar {
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
