.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-container {
    width: min(90%, 768px);
}

.card-body {
    padding: 1rem 6rem;
}

.card-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.card-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #212529;
}

.control-label {
    font-size: 18px;
    font-weight: 400;
    color: #181818;
}

.user-info,
.reserve-info {
    color: #7a7a7a;
}

.user-info .d-flex {
    gap: 6rem;
}

.reserve-info .d-flex {
    gap: 6rem;
}

.button-row .btn-back,
.button-row .btn-submit {
    font-size: 18px;
}
