<div class="footer">
    <div class="container-fluid bg-dark">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-4 mb-4">
                    <div class="text-white">
                        <img src="assets/vectors/logo/odds-logo-blue-white.svg" alt="" />
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <h4 class="text-light">Address</h4>
                    <p class="d-flex align-item-start">
                        <i class="fa-solid fa-location-dot me-3 pt-1"></i>
                        <a target="_blank" href="#">
                            2549/41-43 Phahonyothin Road, Ladyao, Chatuchak, Bangkok 10900
                        </a>
                    </p>
                    <p class="d-flex">
                        <i class="fa-solid fa-phone me-3 pt-1"></i>
                        <a href="tel:020110684">02-011-0684</a>
                    </p>
                    <p class="d-flex">
                        <i class="fa-solid fa-envelope me-3 pt-1"></i>
                        <a href="mailto:th@odd-e.com">th@odd-e.com</a>
                    </p>
                </div>
                <div class="col-md-4 mb-4">
                    <h4 class="text-light">Quick link</h4>
                    <a class="btn btn-link" routerLink="home">Home</a>
                    <a class="btn btn-link" routerLink="mentor">Mentor</a>
                    <a class="btn btn-link" routerLink="sign-in">Sign In</a>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright py-3">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        &copy; 2022 <a routerLink="home">www.odds-mentor.com</a>, All Right
                        Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
