::ng-deep app-footer {
    display: block;
}

.allMentor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    padding: 48px 0;
}

:host::ng-deep.p-grid.p-nogutter.grid.grid-nogutter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    /* max-width: 1200px; */
}

:host::ng-deep.p-dataview-header,
:host::ng-deep.p-dataview-content,
:host::ng-deep.p-paginator-bottom,
:host::ng-deep.p-dataview .p-component .p-dataview-grid,
p-dataview,
.card {
    background-color: transparent !important;
}

:host::ng-deep.p-dataview .p-dataview-header,
.card {
    border: 0 solid transparent;
}

.title {
    font-size: 28px;
    margin: 0;
}

.header-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.searchInput {
    width: min(400px, 90vw);
    overflow: hidden;
}

:host::ng-deep .p-paginator {
    padding: 0;
    border: none;
    padding-bottom: 16px;
}
