.container-booking {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container-card {
    margin: 50px 0;
    width: 60%;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.75);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    border-radius: 12px;
    padding: 36px 108px 44px;
}
p {
    margin: 0;
    color: black;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;
}

.first {
    flex: 1;
}
.second {
    flex: 1;
}
.emailInput {
    width: 50%;
    padding-right: 18px;
}
.emailInput input {
    width: 100%;
}

/* :host::ng-deep .p-calendar {
    width: 100%;
} */

:host::ng-deep .p-datepicker {
    width: 100% !important;
}

:host::ng-deep .p-dropdown {
    width: 100% !important;
}

:host::ng-deep .button-next {
    background-color: #1498d5;
    color: white;
    border: transparent;
}

:host::ng-deep.button-next:hover {
    background-color: #0c78aa !important;
    border: transparent;
}
:host::ng-deep .button-cancel {
    background-color: #85888c;
    color: white;
    border: transparent;
}

:host::ng-deep.button-cancel:hover {
    background-color: #6a6b6d !important;
    border: transparent;
}
:host::ng-deep.p-multiselect-panel .p-multiselect-items .p-multiselect-item,
:host::ng-deep.p-multiselect.p-multiselect-chip .p-multiselect-token {
    text-transform: capitalize;
}

:host::ng-deep.p-card .p-card-body {
    padding: 16px 20px;
}

:host::ng-deep.p-card .p-card-content {
    padding: 0;
}

.mentor-card {
    display: flex;
    flex-direction: row;
}

.mentor-image {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.mentor-detail {
    display: flex;
    flex-direction: column;
}

.margin-text {
    margin-top: 0px;
    margin-bottom: 0px;
}