<div class="container">
    <div class="container-card">
        <p>User Information</p>
        <div class="flex-row">
            <input type="text" class="firstname" pInputText placeholder="Firstname">
            <input type="text" class="lastname" pInputText placeholder="Lastname">
        </div>
        <div class="emailInput">
            <input  type="text" pInputText placeholder="Email"> 
        </div>
        <p>Booking Information</p>
        <div class="flex-row">
            <input type="text" class="firstname" pInputText placeholder="Firstname(mentor)">
            <input type="text" class="lastname" pInputText placeholder="Lastname(mentor)">
        </div>
        <input type="text" pInputText placeholder="Expertise(autocomplete)">
        <textarea placeholder="Reason" rows="5" cols="30" pInputTextarea></textarea>
    </div>
</div>
