<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="container-booking">
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="container-card">
        <p>User Information</p>
        <span class="p-float-label p-fluid input-mt">
            <input id="userFullNameInput" type="text" pInputText formControlName="userFullName" />
            <label for="userFullNameInput">Name</label>
        </span>
        <span class="p-float-label p-fluid input-mt">
            <input id="userEmailInput" type="text" pInputText formControlName="userEmail" />
            <label for="userEmailInput">Email</label>
        </span>
        <p>Booking Information</p>
        <p-card styleClass="p-card-shadow">
            <div class="mentor-card">
                <img
                    src="{{ mentorSelected.profileImageUrl }}"
                    alt=""
                    class="mentor-image"
                    width="120"
                    height="120"
                />
                <div class="mentor-detail">
                    <p class="margin-text" style="font-size: 24px; font-weight: 600">
                        {{ mentorSelected.fullNameEN }} ({{ mentorSelected.nickname }})
                    </p>
                    <p
                        class="margin-text"
                        style="font-size: 20px; font-weight: 500; color: #708090"
                    >
                        {{ mentorSelected.fullNameTH }}
                    </p>
                    <br />
                    <p style="font-size: 18px; font-weight: 500" class="margin-text">
                        {{ mentorSelected.position }} @ {{ mentorSelected.team }}
                    </p>
                    <p
                        style="font-size: 16px; font-weight: 500; color: #85888c"
                        class="margin-text"
                    >
                        {{ mentorSelected.type }}
                    </p>
                </div>
            </div>
        </p-card>
        <span class="p-float-label p-fluid input-mt">
            <p-multiSelect
                id="expertiseMultiSelect"
                [options]="expertises"
                optionLabel="skill"
                optionValue="skill"
                formControlName="expertise"
                [selectionLimit]="3"
                display="chip"
            >
            </p-multiSelect>
            <label for="expertiseMultiSelect">Expertise</label>
        </span>
        <span class="p-float-label p-fluid input-mt">
            <textarea
                id="reasonTextarea"
                rows="2"
                cols="30"
                pInputTextarea
                [autoResize]="true"
                formControlName="reason"
            ></textarea>
            <label for="reasonTextarea">Reason</label>
        </span>
        <span class="p-float-label p-fluid input-mt">
            <p-calendar
                id="dateCalerdar"
                formControlName="sessionDate"
                dateFormat="d MM yy"
                [minDate]="minDate"
            ></p-calendar>
            <label for="dateCalerdar">Date</label>
        </span>
        <div class="dateTime-row">
            <span class="p-float-label p-fluid input-mt">
                <p-calendar
                    id="timeDropdown"
                    formControlName="sessionTime"
                    [timeOnly]="true"
                    [stepMinute]="15"
                    [defaultDate]="defaultDate"
                ></p-calendar>
                <label for="timeDropdown">Time</label>
            </span>
            <span class="p-float-label p-fluid input-mt">
                <p-dropdown
                    id="durationDropdown"
                    placeholder="&nbsp;"
                    [options]="duration"
                    formControlName="sessionDuration"
                ></p-dropdown>
                <label for="durationDropdown">Duration</label>
            </span>
        </div>
        <div class="flex-row">
            <p-button
                label="CANCEL"
                icon="pi pi-times"
                iconPos="left"
                styleClass="button-cancel"
                (onClick)="handleBack()"
            ></p-button>
            <!-- <p-button
                label="LOG"
                icon="pi pi-exclamation-circle"
                iconPos="left"
                (onClick)="log()"
            ></p-button> -->
            <p-button
                label="NEXT"
                icon="pi pi-angle-right"
                iconPos="right"
                styleClass="button-next"
                type="submit"
                [disabled]="bookingForm.invalid"
            ></p-button>
        </div>
    </form>
</div>
