::ng-deep app-footer {
    display: block;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    vertical-align: -4px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-container {
    width: min(100%, 768px);
}

.card-body {
    padding: 2rem !important;
}

.card-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.card-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: var(--sub-title-color);
}

.mentor-card .card-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 28px;
    width: 100%;
    padding: 0 !important;
    border: 1px solid #ced4da;
    border-radius: 12px;
}

.mentor-card .card-body p {
    margin-bottom: 0;
}

.mentor-card .card-body .mentor-img {
    object-fit: cover;
    object-position: top;
    width: 150px;
    height: 150px;
    border-radius: 11px;
}

.mentor-card .card-body-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

:host::ng-deep.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
    top: -0.6rem;
    left: 2px;
}

.btn {
    text-transform: capitalize;
}

.card-body-end .mentor-name .name-en {
    font-size: 20px;
    font-weight: 400;
}

.card-body-end .mentor-name .name-th {
    font-size: 18px;
    font-weight: 300;
    color: #39485b;
}

.control-label {
    font-size: 18px;
    font-weight: 300;
}
