<div class="container-booking">
        <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="container-card">
            <p>User Information</p>
            <div class="flex-row">
                <input type="text" class="first" pInputText placeholder="Firstname" formControlName="firstNameUser"/>
                <input type="text" class="second" pInputText placeholder="Lastname" formControlName="lastNameUser"/>
            </div>
            <div class="emailInput">
                <input type="text" pInputText placeholder="Email" formControlName="emailUser"/>
            </div>
            <p>Booking Information</p>
            <div class="flex-row">
                <input type="text" class="first" pInputText placeholder="Firstname(mentor)" formControlName="firstNameMentor"/>
                <input type="text" class="second" pInputText placeholder="Lastname(mentor)" formControlName="lastNameMentor"/>
            </div>
            <span class="p-fluid">
                <p-multiSelect [options]="expertises" formControlName="expertise"
                    defaultLabel="Expertise(autocomplete)" optionLabel="skill" [selectionLimit]=3 display="chip">
                </p-multiSelect>
            </span>
            <textarea placeholder="Reason" rows="5" cols="30" pInputTextarea formControlName="reason"></textarea>
            <p-calendar [inline]="true" [showWeek]="false" formControlName="bookingDate"></p-calendar>
            <div class="flex-row">
                <p-calendar class="first" [timeOnly]="true" inputId="timeonly" placeholder="Time" formControlName="bookingTime">
                </p-calendar>
                <p-dropdown class="second" [options]="duration" placeholder="Duration" optionLabel="time" formControlName="duration"></p-dropdown>
            </div>
            <div class="flex-row">
                <p-button label="CANCEL" icon="pi pi-times" iconPos="left" styleClass="button-cancel"
                    (onClick)="handleBack()"></p-button>
                <p-button label="NEXT" icon="pi pi-angle-right" iconPos="right" styleClass="button-next"
                    type="submit"></p-button>
            </div>
        </form>
</div>