* {
    --gray-color: #39485B;
}

.container {
    margin-top: 52px;
}

.landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36px;
    overflow: hidden;
    padding: 0 128px;
}

.landing-col {
    flex-direction: column;
}

.landing-first {
    height: calc(100vh - 52px);
    background: url('/assets/vectors/background.svg') center center / cover no-repeat white;
    background-attachment: scroll;
}

.landing-block {
    height: calc(100vh - 52px);
}

.mentors-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
    background-color: var(--gray-color);
}

.footer-param {
    margin: 0;
    text-align: center;
    color: white;
}

.div {
    width: 260px;
    height: 400px;
    background-color: black;
}

.half {
    width: 50%;
    color: white;
}

.button {
    background-color: white !important;
    color: #39485B !important;
}

.img-landing {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: var(--radius);
}