<div class="container-fluid">
    <div class="container-fluid landing-1">
        <a routerLink="/mentor">
            <img class="landing-svg" src="/assets/vectors/Landing.svg" alt="landing" />
        </a>
    </div>
    <div class="container-fluid landing-2" id="topMentors">
        <div class="container">
            <div class="landing-top-mentor">
                <p class="top-mentor-title">
                    <span class="part-1">Discover our </span>
                    <span class="part-2">Top Mentors</span>
                </p>
                <div #topMentorRow class="top-mentor-row">
                    <app-mentor-card *ngFor="let mentor of mentors" [mentorDetail]="mentor">
                    </app-mentor-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid landing-3">
        <div class="container">
            <div class="landing-mentor">
                <div class="text-landing">
                    <p class="landing-title">
                        พบกับผู้เชี่ยวชาญเพื่อคลาย <br />
                        ข้อสงสัย..
                    </p>
                    <p class="landing-content">
                        จะดีกว่าไหม? ถ้าข้อสงสัยของคุณ <br />
                        สามารถถูกแก้ไขได้ด้วยผู้ที่เชี่ยวชาญในเรื่องนั้นๆ
                    </p>
                </div>
                <div class="img-landing-mentor">
                    <img src="assets/vectors/story/consulting-rafiki.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid landing-4">
        <div class="container">
            <div class="landing-mentor">
                <div class="img-landing">
                    <img src="assets/vectors/story/consulting-pana.svg" alt="" />
                </div>
                <div class="text-landing-mentor">
                    <p class="landing-title">สอบถามได้ทุกที่ ไม่ว่าคุณจะอยู่ที่ไหน</p>
                    <p class="landing-content">
                        ODDS Mentor จะช่วยให้คุณสามารถนัดหมายเวลา <br />
                        กับคนที่คุณต้องการปรึกษา พูดคุยเพื่อคลายปัญหา <br />
                        ข้อสงสัยต่างๆของคุณได้ทุกที่
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid landing-5">
        <div class="container">
            <div class="landing-mentor">
                <div class="text-landing">
                    <p class="landing-title">จองได้ง่ายๆ เพียงปลายนิ้ว</p>
                    <p class="landing-content">
                        คุณสามารถนัดหมายเวลาเพื่อปรึกษา <br />
                        กับผู้เชี่ยวชาญที่คุณต้องการได้ง่ายๆ <br />
                        เพียงเข้าสู่ระบบการจองของเราและเริ่มจอง
                    </p>
                </div>
                <div class="img-landing-mentor">
                    <img src="assets/vectors/story/mobile-inbox-pana.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
