* {
    --gray-color: #39485b;
    --radius: 24px;
}

.landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36px;
    overflow: hidden;
    padding: 0 128px;
}

.landing-col {
    flex-direction: column;
}

.landing-first {
    height: calc(100vh - 52px);
    background: url("/assets/vectors/background.svg") center center / cover no-repeat white;
    background-attachment: scroll;
}

.landing-block {
    height: calc(100vh - 52px);
}

.landing-section {
    padding: 0 inherit;
}

.mentors-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
    background-color: var(--gray-color);
}

.footer-param {
    margin: 0;
    text-align: center;
    color: white;
}

.div {
    width: 260px;
    height: 400px;
    background-color: black;
}

.half {
    width: 50%;
    color: black;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

::ng-deep.button {
    background-color: white !important;
    color: #39485b !important;
    border-color: transparent;
}

.img-landing {
    object-fit: cover;
    border-radius: var(--radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-1 {
    width: 240px;
    height: 320px;
    z-index: 4;
}

.img-2 {
    width: 240px;
    height: 320px;
    z-index: 3;
    margin-left: -60px;
    margin-top: 160px;
}

.img-3 {
    width: 320px;
    height: 240px;
    z-index: 2;
    margin-left: -260px;
    margin-top: -240px;
}

/* @media only screen and (max-width: 1100px) {
    .landing {
        padding: 0 64px;
    }
}

@media only screen and (max-width: 900px) {
    .landing {
        flex-direction: column;
        gap: 36px;
        overflow: hidden;
        padding: 0 64px;
    }

    .landing-first,
    .landing-block {
        padding: 0 inherit;
    }

    .half {
        width: 100%;
    }
} */

a {
    color: inherit;
    text-decoration: inherit;
}
