::ng-deep app-footer {
    display: block;
}

.container-fluid {
    padding: 0 !important;
}

.landing-1 .landing-svg {
    width: 100%;
}

.landing-2 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.landing-4 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.landing-5 {
    padding-bottom: 16px !important;
}

/* .landing-1,
.landing-3,
.landing-5 {
    background-color: #f0f3f4 !important;
} */

.landing-top-mentor {
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
}

.landing-top-mentor .top-mentor-row {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.landing-top-mentor .top-mentor-title {
    font-size: 32px;
    font-weight: 800;
}

.top-mentor-title .part-1 {
    color: #39485b;
}

.top-mentor-title .part-2 {
    color: #0e98d5;
}

.landing-mentor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-mentor .landing-title {
    font-size: 32px;
    color: #1498d5;
}

.landing-mentor .landing-content {
    font-size: 20px;
    color: #7a7a7a;
}

.landing-mentor img {
    width: 100%;
}

.landing-mentor-5  button {
    font-size: 24px;
    font-weight: 600;
    color: #39485b;
    border-radius: 16px;
    padding: 10px 16px;
}

.landing-mentor-5 .fa-solid, .fas {
    font-size: 16px;
}