::ng-deep app-footer {
    display: none;
}

.container {
    height: calc(100vh - 52px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: min(100%, 768px);
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding: 80px 0;
}

.mentor-logo {
    width: min(100%, 200px);
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 16px;
}

.sign-in-img,
.sign-in-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.sign-in-content {
    border-left: solid 2px var(--gray-color);
}

@media only screen and (max-width: 768px) {
    .card-container {
        align-items: center;
    }

    .row {
        padding: 30px;
        width: 80%;
    }

    .mentor-logo {
        width: min(100%, 180px);
    }

    .sign-in-content {
        border-left: unset;
        border-top: solid 2px var(--gray-color);
    }
}

.btn {
    padding: 12px;
    border-width: 0;
}

.btn:hover,
.btn:focus {
    border: unset;
    box-shadow: unset;
}
