<div class="container">
    <div class="card-container">
        <div class="row">
            <div class="sign-in-img col-md-6">
                <img
                    src="assets/vectors/logo/odds-mentor-vertical.svg"
                    alt="ODDS-Mentor vertical Logo"
                    class="mentor-logo"
                />
            </div>
            <div class="sign-in-content col-md-6">
                <h1>Sign In</h1>
                <p-button
                    (click)="signInWithOddsTeam()"
                    pRipple
                    label="with ODDS Team account"
                ></p-button>
            </div>
        </div>
    </div>
</div>
