.navbar {
    overflow: hidden;
    line-height: 0;
    background-color: #FFFFFF;
    z-index: 99;
}

.navbar .navbar-brand {
    color: #000000;
    display: flex;
    align-items: center;
}

.navbar .navbar-brand img {
    width: 124px;
    margin-right: 12px;
}

.navbar .navbar-brand p {
    font-size: 48px;
    margin: 0;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding: 18px 16px;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
    justify-content: center;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    font-weight: 300;
    display: block;
    padding: 14px 16px;
}

.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .navbar-right {
    float: right;
    color: white;
}

.navbar-shadow {
    box-shadow: 0 .5rem 0.75rem rgba(0,0,0,.15)!important;
}