<nav
    style="font-family: 'Quicksand', sans-serif !important"
    id="navBar"
    class="navbar navbar-expand-md sticky-top fixed-top py-0"
>
    <div class="container-fluid px-4">
        <a class="navbar-brand" routerLink="home">
            <img src="assets/vectors/logo/odds-mentor-new.svg" alt="ODDS Mentor Logo" height="22" />
        </a>
        <a
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
        >
            <span class="fa-solid fa-bars"></span>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav text-uppercase">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="mentor">Mentor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="sign-in">
                        <span>
                            <i class="bi bi-person-circle"></i>
                            Sign In
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
