@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

a,
a:hover,
a:focus {
    color: unset;
}

.navbar {
    line-height: 2;
    flex-direction: column;
    background-color: transparent;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    /* box-shadow:  0 0.5rem 0.75rem rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.15) !important;
    -o-box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.15) !important; */
}

.navbar-sticky {
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.navbar-toggler,
.navbar-toggler:focus {
    line-height: 1;
    padding: 20px 10px;
    border: none;
    box-shadow: none;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: unset;
    line-height: 1;
}

.navbar img,
svg {
    vertical-align: unset;
}

.navbar.sticky-top {
    top: -100px;
    transition: 0.5s;
}

.navbar .container-fluid {
    background-color: transparent;
}

nav .btn {
    font-size: 1.5rem !important;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 1px;
    padding-left: 8px;
}

.navbar .navbar-nav li {
    margin-left: 6px;
    margin-right: 6px;
}

.navbar .navbar-nav .nav-link {
    font-size: 1rem !important;
    font-weight: 500;
    padding: 10px;
    color: #646464;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

.dropdown-menu {
    padding: 0 !important;
    border-radius: unset;
}

.dropdown-menu .dropdown-item {
    font-weight: unset;
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: var(--primary-text);
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item.active {
    background-color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media only screen and (max-width: 767.98px) {
    .navbar .navbar-nav .nav-link {
        margin-left: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #eeeeee;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        left: unset !important;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}
