a,
a:hover,
a:focus {
    color: unset;
}

.navbar {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    padding: 0;
    line-height: 2;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.navbar-sticky {
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.navbar.sticky-top {
    top: -100px;
    transition: 0.5s;
}

.navbar-toggler,
.navbar-toggler:focus {
    line-height: 1;
    padding: 16px 10px;
    border: none;
    box-shadow: none;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: unset;
    line-height: 1;
}

.navbar img,
svg {
    vertical-align: unset;
}

.navbar .navbar-nav li {
    margin-left: 0;
    margin-right: 0;
}

.navbar .navbar-nav .nav-link {
    font-weight: 500;
    padding: 12px 10px;
    color: #495057;
    outline: none;
}

.navbar-nav-right .dropdown a {
    display: flex;
    align-items: center;
}

.navbar-nav-right .dropdown i:hover {
    cursor: pointer;
}

.dropdown .fa-solid,
.fas {
    font-size: 28px;
}

.dropdown .dropdown-menu {
    color: #495057;
    margin-top: 2px;
    border-radius: 2px;
    border: unset;
    padding: 0;
    min-width: 72px;
}

.dropdown .dropdown-menu .dropdown-item {
    font-weight: 500;
    padding: 0.25rem 0.75rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    background-color: #eaeaf1;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 0.125rem;
}

.dropdown-menu.show {
    display: block;
}

/* ถ้าปิดเมนูที่ 1 ให้ปิด css ตรงนี้ แล้วก็เปิดแบบที่ 2 */
/* @media only screen and (max-width: 767.98px) {
    .navbar .navbar-nav {
        border-top: 1px solid #eeeeee;
    }
} */

/* ถ้าปิดเมนูที่ 2 ให้ปิด css ตรงนี้ แล้วก็เปิดแบบที่ 1 */
.navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-toggler {
    display: none;
}

.userImg {
    width: 28px;
    height: 28px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 2px solid var(--blue-color);
}

.userImgSection {
    position: relative;
}

.userImgSkeleton {
    position: absolute;
    top: 0;
    left: 0;
}
