/* You can add global styles to this file, and also import other style files */
:root {
    font-family: "Poppins", sans-serif;
    font-family: "Kanit", sans-serif;
}

body {
    margin: 0px;
}

.text-uppercase {
    text-transform: uppercase;
}
